@media (max-width: 425px) {
  html,
  body {
    height: auto;
  }

  html,
  .project > img,
  #contact > div {
    width: 100%;
  }

  #contact > div,
  form div:first-child,
  #resume > div,
  .resumeItem {
    grid-template-columns: 1fr;
  }

  .project,
  footer,
  #skills > ul {
    flex-direction: column;
  }

  body,
  #about,
  #skills > ul {
    display: flex;
  }

  #about,
  body {
    justify-content: center;
  }

  #about {
    flex-direction: column-reverse;
    align-items: center;
  }

  #header,
  #projects,
  #contact {
    width: 90%;
  }

  #header > div > p:nth-child(3),
  #header > div > img,
  nav {
    display: none;
  }

  #header > img {
    display: block;
  }

  #about img {
    width: 85vw;
    height: 85vw;
  }

  #about button {
    width: 28vw;
    height: 28vw;
  }

  #about > div {
    width: 93%;
  }

  #about .buttons {
    justify-content: space-evenly;
  }

  .separation,
  #resume {
    gap: 10px;
  }

  #resume {
    width: auto;
    margin: 0px 10px;
  }
  #resume > div,
  .resumeItem {
    display: grid;
  }

  #skills > ul {
    list-style: none;
  }

  .resumeItem {
    margin-bottom: 15px;
    gap: 5px;
  }

  .position {
    grid-row-start: 1;
  }

  .description {
    grid-row-start: 3;
    grid-column-start: 1;
    margin-top: 0px;
  }

  .project > img {
    height: 330px;
  }

  #projects :nth-child(2) {
    margin-top: 20px;
  }

  form {
    margin-top: 30px;
  }

  form button {
    padding: 5px 0px;
  }

  #contact {
    align-self: auto;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  #contact > div > div > div {
    margin-top: 15px;
  }

  footer {
    margin-top: 25px;
  }
}

@media (max-width: 320px) {
  #contact > div > div,
  #contact > div > form {
    width: 90%;
  }
}
