* {
    margin: 0%;
    padding: 0%;
    font-size: 16px;
    font-family: work-sans;
}

html {
    width: 100%;
    background-color: whitesmoke;
}

input, textarea {
    padding: 10px;
    background-color: whitesmoke;
    border: solid black 1px;
}

ul {
    list-style: none;
}

#header, 
#header > div, 
nav > ul {
    display: flex;
    flex-direction: row;
}

section ,footer {
    padding: 30px;
    padding-right: 50px;
}

section > h2 {
    font-size: 6vw;
    font-weight: bolder;
}

/* header styling */

#header {
    justify-content: space-between;
    align-self: center;
}

#header > div {
    gap: 10px;
    justify-content: center;
    align-items: center; 
}

#header > div > img {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    object-fit: cover;
}

#header p:nth-child(2) {
    font-weight: bold;
    font-size: 19px;
}

nav > ul :nth-child(2) {
    border-left: solid black 1px;
    border-right: solid black 1px;
}

nav > ul > li {
    padding: 10px;
    cursor: pointer;
    font-weight: lighter;
}

nav > ul > li:hover {
    color: brown;
}

/*About section styling*/

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 300px; */
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
}

#about > img {
    height: 430px;
    width: 430px;
    border-radius: 50%;
    justify-self: center;
    object-fit: cover;
}

#about > div > h1 {
    font-size: 10vw;
}

#about > div p:nth-child(2){
    font-weight: bold;
    font-size: 3vw;
}

#about > div > div {
    display: flex;
    flex-direction: row;
    margin-top: 3vw;
    gap: 1vw;
}

#about > div > div button:first-child {
    background-color: orange;
}

#about > div > div button:last-child {
    background-color: blue;
}

#about > div > div button:nth-child(2) {
    background-color: red;
}

button {
    border-radius: 75px;
    height: 130px;
    width: 130px;
    border: solid black 1px;
    font-size: x-large;
    cursor: pointer;
}

#about > div > div button:hover,
form button:hover {
    background-color: white;
}

/*projects styling*/
.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15vh;
    gap: 5vw;
}

.project > div > h2 {
    margin-bottom: 20px;
}

.project > img {
    height: 30vw;
    width: 500px;
    object-fit: cover;
}

#resume {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#resume > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#resume > div > h3 {
    font-size: xx-large;
}

.separation {
    border-bottom: solid black 1px;
}

#skills > ul {
    list-style:square;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#skills > ul > li {
    padding: 6px;
    grid-column-start: 2;
}

.resumeItem {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 3vw;
}

.position {
    font-weight: bolder;
}

.description {
    grid-row-start: 2;
    grid-column-start: 2;
    margin-top: 10px;
}

/*contact styling*/
#contact {
    display: flex;
    flex-direction: column;
}

#contact > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact > div > div > div {
    margin-top: 30px;
}

#contact > div > div > div :first-child {
    font-weight: bolder;
}

form div:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

form div:first-child > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#message > div {
    display: flex;
    flex-direction: column;
}

#message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

form button {
    background-color: orange;
}

/*footer styling*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* margin-bottom: 100px; */
    margin-top: 50px;
    gap: 20px;
    border-top: solid black 1px;
    margin-left: 30px;
    margin-right: 50px;
    padding-top: 30px;
}

footer > div > p:first-child {
    font-weight: bolder;
}

footer > div > p {
    padding: 3px;
}

#followMe > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-left: 5px;
}

footer > div:last-child > p {
    font-weight: lighter;
    font-size: smaller;
}

footer > div:last-child > p:last-child,
footer > div:last-child > p:last-child > a {
    font-size: x-small;
}