* {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-weight: bolder;
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

p {
  font-size: 1em;
}

body {
  width: auto;
}

#header,
#footer,
#mid,
#headerIcons,
#projectsContainer,
.project,
#footer-icons,
.nameAndIcons,
#headerIcons,
.contactDetails {
  display: flex;
}

#header,
#footer,
#headerIcons,
#projectsContainer,
#mid,
#footer-icons,
#headerIcons {
  align-items: center;
}

#header,
#footer,
#headerIcons,
#projectsContainer,
#footer-icons,
.nameAndIcons,
#informationContainer {
  flex-direction: row;
}

#header,
#footer,
#projectsContainer {
  flex-wrap: wrap;
}

#header,
#footer {
  justify-content: center;
  height: 100vh;
}

#mid,
#informationContainer {
  flex-direction: column;
}

#footer-icons,
#headerIcons {
  gap: 10px;
}

img {
  width: 100%;
  height: 100%;
}

section {
  margin-bottom: 5%;
}

/*header section*/

#header {
  /* width: 85vw; */
  background: linear-gradient(
    to bottom right,
    #4682b4 00%,
    #4682b4 50%,                                                                 
    white 50%,
    white 100%
  );
}

#headerImageContainer {
  position: relative;
  max-width: 40%;
}

#name {
  position: absolute;
  top: 85%;
  left: 2%;
  color: white;
  font-size: 2rem;
}

#headerTextContainer {
  max-width: 40vw;
  padding: 3%;
  background-color: white;
}

#header-icons {
  width: 30px;
}

#headerIcons {
  justify-content: right;
}


/*mid section*/

#projectsContainer {
  gap: 1vw;
  justify-content: center;
}

.project {
  flex-direction: column-reverse;
  width: 30vw;
}

.Projectdescription {
  padding: 8px 15px;
  border: solid black 1px;
}

.nameAndIcons {
  justify-content: space-between;
}

.nameAndIcons > p {
  font-weight: bold;
}

.project-icon {
  height: 15px;
  width: 15px;
}

#mid > h2 {
  margin-bottom: 13px;
}

#project1 > img,
#project2 > img,
#project3 > img,
#project4 > img,
#project5 > img,
#project6 > img {
  height: 30vw;
}

/*footer section*/
#footer {
  margin-top: 40px;
  margin-bottom: 0%;
  background-color: #4682b4;
  align-items: flex-start;
  height: auto;
}

#informationContainer > h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}

#informationContainer {
  gap: 10px;
  max-width: 45vw;
  padding: 30px;
}

.footerIcons {
  width: 30px;
  height: 30px;
}

.contactIcon {
  width: 20px;
  height: 20px;
}

.contactDetails {
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
}

.contactDetails :first-child {
  padding-left: 10px;
}

#footer-icons {
  justify-content: left;
}

#informationContainer > h2,
#informationContainer > p,
#email > p,
#phone > p{
  color: white;
}

#footer > img {
  margin: 5vw;
  margin-top: 3vw;
  max-width: 40vw;
  height: auto;
}