* {
  margin: 0%;
  padding: 0%;
  font-size: 16px;
  font-family: work-sans;
  margin-left: 0%;
}

body,
#header,
#header > div,
#followMe > div,
menu,
menu > div > ul,
menu > div > img,
nav > ul,
#header > div,
#about,
#about > div > div > div,
#about > div,
.buttons,
.project,
#resume,
#contact,
form div:first-child > div,
#message > div,
#message,
footer {
  display: flex;
}

body,
input,
textarea,
#header {
  background-color: whitesmoke;
}

body,
#about > div,
#resume,
#contact,
form div:first-child > div,
#message > div,
#message,
menu > div > ul {
  flex-direction: column;
}

body {
  height: 100vh;
}

button,
input,
textarea {
  border: solid black 1px;
}

input,
textarea {
  padding: 8px 16px;
}

input,
textarea {
  width: auto;
}

ul {
  list-style: none;
}

#header,
#header > div,
nav > ul,
#header > div,
#about,
#about > div > div > div,
.buttons,
.project,
footer,
#followMe > div,
menu > div > img {
  flex-direction: row;
}

section,
footer,
header {
  padding: 2vw;
  padding-top: 2vw;
}

#projects,
#resume,
#contact {
  width: 70%;
}

.project > div > h2,
section > h2,
.position,
#contact > div > div > div :first-child,
footer > div > p:first-child {
  font-weight: bolder;
}

section > h2 {
  font-size: 42px;
  margin-bottom: 2vw;
}

#about,
#projects,
#resume,
#contact {
  transition: display 0.5s ease-in;
}

#header,
.buttons,
footer {
  justify-content: space-between;
}

#header,
#projects,
#resume,
#contact,
menu > div > img {
  align-self: center;
}

#header > div,
#about > div > div > div {
  gap: 1vw;
}

#header > div,
nav > ul,
#about,
.project,
menu > div > ul {
  justify-content: center;
}

#header > div,
nav > ul,
#about,
.buttons,
#followMe > div,
menu > div > ul {
  align-items: center;
}

#header > div,
#header > div > p,
nav > ul,
#about,
#contact {
  height: 100%;
}

#header > div > img,
#about > img,
.project > img {
  object-fit: cover;
}

#header p:nth-child(2),
#about > div > h1,
#about > div p:nth-child(1),
#resume > div > h3 {
  font-weight: bold;
}

#header p:nth-child(2),
button {
  font-size: 22px;
}

#header p:nth-child(2),
nav > ul > li,
button {
  cursor: pointer;
}

#header p:nth-child(2):hover,
nav > ul > li:hover {
  color: #926402;
}

nav > ul > li,
footer > div:last-child > p {
  font-weight: lighter;
}

#about > img,
button {
  border-radius: 50%;
}

#about > img,
#about > div {
  width: 480px;
}

#about > div,
footer {
  align-items: flex-start;
}

#about > div > div button,
#about > div > div button:first-child {
  transition: background-color 0.5s ease-in-out;
}

.buttons,
.project > div,
form button,
menu > div,
menu > div > ul {
  width: 100%;
}

#about > div > div button:hover,
form button:hover,
menu > div {
  background-color: white;
}

#resume > div,
#skills > ul,
.resumeItem,
#contact > div,
form div:first-child,
menu > div {
  display: grid;
}

#skills > ul .resumeItem {
  grid-template-columns: 1fr 2fr;
}

#resume > div,
#contact > div,
form div:first-child {
  grid-template-columns: 1fr 1fr;
}

#skills > ul > li,
.description {
  grid-column-start: 2;
}

#followMe > div #message {
  justify-content: flex-start;
}

#message,
footer {
  gap: 20px;
}

/* header styling */
#header {
  padding-top: 20px;
  width: 94%;
}

#header > div > p {
  align-content: center;
}

#header > div > img {
  height: 22px;
  width: 22px;
  border-radius: 20px;
}

nav > ul :nth-child(2) {
  border-left: solid black 1px;
  border-right: solid black 1px;
}

nav > ul > li {
  padding: 14px;
}

#header > img {
  width: 30px;
  height: 30px;
  margin-left: 50px;
}

/*About section styling*/

#about {
  gap: 25px;
}

#about > img {
  height: 480px;
  justify-self: center;
}

#about > div > h1 {
  font-size: 100px;
}

#about > div p:nth-child(1) {
  font-size: 27px;
}

#about > div {
  height: 385px;
  justify-content: space-evenly;
}

#about > div > div > p {
  margin-bottom: 10px;
}

#about > div > div button:first-child {
  background-color: #eea302;
}

#about > div > div button:last-child {
  background-color: #80d8da;
}

#about > div > div button:nth-child(2) {
  background-color: #ff3b25;
}

button {
  height: 140px;
  width: 140px;
}

/*projects styling*/
#projects {
  display: block;
}

#projects :nth-child(2) {
  margin-top: 40px;
}
.project {
  margin-top: 80px;
}

.project > div > h2 {
  margin-bottom: 20px;
  font-size: 26px;
}

.project > div > p {
  max-width: 422px;
}

.project > img {
  height: 330px;
  width: 490px;
  border-radius: 10px;
}

#projects > h2 {
  margin-bottom: 0%;
}

#resume {
  gap: 30px;
}

#resume > div > h3 {
  font-size: 26px;
}

.separation {
  border-bottom: solid black 1px;
}

#skills > ul {
  list-style: square;
}

#skills > ul > li {
  padding: 6px;
}

.resumeItem {
  margin-bottom: 3vw;
}

.description {
  grid-row-start: 2;
  margin-top: 10px;
}

/*contact styling*/
#contact {
  margin-bottom: 10vh;
}

#contact > div > div > div {
  margin-top: 30px;
}

form div:first-child {
  gap: 10px;
}

form div:first-child > div {
  gap: 5px;
}

#message {
  margin-top: 20px;
}

form button {
  background-color: orange;
  border-radius: 15px;
  height: auto;
}

/*footer styling*/
footer {
  border-top: solid black 1px;
  margin: 50px 3vw 0 3vw;
  padding-top: 30px;
}

footer > div > p {
  padding: 3px;
}

#followMe > div {
  gap: 15px;
  padding-left: 5px;
}

footer > div:last-child > p {
  font-size: smaller;
}

footer > div:last-child > p:last-child,
footer > div:last-child > p:last-child > a {
  font-size: x-small;
}

menu {
  width: 100vw;
  overflow: hidden;
  height: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  justify-content: flex-end;
}

menu > div {
  grid-template-rows: 1fr 9fr;
  position: relative;
}

menu > div > ul {
  font-size: xx-large;
  gap: 5vh;
}

menu > div > ul > li {
  padding: 10px;
}

menu > div > img {
  width: 5vh;
  height: 5vh;
  justify-self: flex-end;
  margin-right: 7vw;
}

#header > img,
#resume,
#projects,
#contact {
  display: none;
}
