@media (min-width: 426px) and (max-width: 769px) {
    #headerImageContainer {
        width: 90vw;
        /* height: 80vw; */
    }
    #header {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: space-evenly;
    }

    #projectsContainer {
        width: 90vw;
        /* flex-direction: column; */
    }

    .project {
        width: 43vw ;
    }

    #footer > img {
        max-width: 40vw;
    }

    #informationContainer {
        width: 40vw;
    }
}
  