* {
  font-size: 16px;
}

h2 {
  font-size: 1.8rem;
}

#content {
  width: 100vw;
}

#header,
#footer,
#mid,
#headerIcons,
#projectsContainer,
.project,
#footer-icons,
.nameAndIcons,
#headerIcons,
.contactDetails {
  display: flex;
}

#header,
#footer,
#headerIcons,
#projectsContainer,
#mid,
#footer-icons,
#headerIcons {
  align-items: center;
}

#header,
#footer,
#headerIcons,
#projectsContainer,
#footer-icons,
.nameAndIcons,
#informationContainer {
  flex-direction: row;
}

#header,
#footer,
#projectsContainer {
  flex-wrap: wrap;
}

#header,
#footer {
  justify-content: center;
}

#mid,
#informationContainer {
  flex-direction: column;
}

#header,
#footer,
#mid {
  /* margin: 20px; */
}

#footer-icons,
#headerIcons {
  gap: 10px;
}

img {
  width: 100%;
  height: 100%;
}

/*header section*/

#header {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  background: linear-gradient(
    to bottom right,
    #4682b4 00%,
    #4682b4 50%,                                                                 
    white 50%,
    white 100%
  );
}

#headerImageContainer {
  position: relative;
  max-width: 680px;
}

#name {
  position: absolute;
  top: 85%;
  left: 2%;
  color: white;
  font-size: 2rem;
}

#headerTextContainer {
  max-width: 500px;
  padding: 15px;
  background-color: white;
}

#header-icons {
  width: 30px;
}

#headerIcons {
  justify-content: right;
}


/*mid section*/

#projectsContainer {
  gap: 10px;
  max-width: 1300px;
  justify-content: center;
}

.project {
  flex-direction: column-reverse;
  width: 400px;
}

.Projectdescription {
  padding: 8px 15px;
  border: solid black 1px;
}

.nameAndIcons {
  justify-content: space-between;
}
.project-icon {
  height: 15px;
  width: 15px;
}

#mid > h2 {
  margin-bottom: 13px;
}

#project1 > img,
#project2 > img,
#project3 > img,
#project4 > img,
#project5 > img,
#project6 > img {
  height: 400px;
}

/*footer section*/
#footer {
  margin-top: 40px;
  /* padding-bottom: 40px; */
  background-color: #4682b4;
  align-items: flex-start;
}

#footer img {
  max-width: 600px;
}

#informationContainer {
  gap: 10px;
  max-width: 650px;
  padding: 30px;
}

.footerIcons {
  width: 30px;
  height: 30px;
}

.contactIcon {
  width: 20px;
  height: 20px;
}

.contactDetails {
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
}

.contactDetails :first-child {
  padding-left: 10px;
}

#footer-icons {
  justify-content: left;
}

#informationContainer > h2,
#informationContainer > p,
#email > p,
#phone > p{
  color: white;
}